.App {
  text-align: center;
}
.UploadFile{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.UploadFile > *{
  margin-bottom: 10px;
}

.UploadFile input{
  padding-left: 60px;
}
